.project-group {
    background-color: #f3efde;
    height: 150px;
    text-align: center;
}

.project-group h2 {
    margin-top: 0;
}

.card-group {
    margin: -180px 0 100px;
    display: none;
}

.carousel {
    margin: -81px 0 50px;
}

@media screen and (min-width: 576px) {
    .project-group {
        height: 300px;
    }

    .carousel {
        margin: -195px 0 50px;
    }
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d5be51' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d5be51' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-indicators {
    bottom: -2.5rem;
}

.carousel-indicators li {
    background-color: #d5be51;
    height: 5px;
}

@media screen and (min-width: 768px) {
    .card-group.visible-md {
        display: flex;
    }

    .carousel.hidden-md {
        display: none;
    }
}

.card {
    flex: unset !important;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

.card:hover .card-overlay.bottom {
    bottom: 0rem;
}

.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden;
    text-align: center;
    width: 100%;
    transition: bottom 0.3s;
    display: flex;
    align-items: center;
}

.card-body {
    padding: 1rem;
}

@media screen and (min-width: 448px) {
    .card-body {
        padding: 1.25rem;
    }
}

.card-overlay.bottom {
    bottom: 100%;
}

.carousel-inner {
    width: 80%;
    left: 10%;
}

.overlay-text{
    position: absolute;
    z-index: 1053;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    height: 100%;
    transition: opacity 500ms ease-in-out;
}

.overlay-text:hover{
    opacity: 1;
    cursor: pointer;
}
.overlay-text span{
    color: white;
    text-align: center;
}

.overlay-text:hover ~ img{
     transform: scale(1.1,1.1);
     cursor: pointer;
 }
@media screen and (min-width: 576px) {
    .carousel-inner {
        width: 75%;
        left: 12.5%;
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: 45%;
        margin: 0 0 1rem !important;
    }
}

@media screen and (min-width: 1140px) {
    .card {
        width: 32%;
    }
}

.btn-group-vertical {
    height: 6em;
}

.three-btns {
    height: 10em;
}

.lightbox-container{
    z-index: 1060 !important;
}


.ReactModal__Overlay.ReactModal__Overlay--after-open{
    z-index: 1100!important;
}
.modal-page{
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    padding: 0;
}
.modal-page .modal-dialog{
    margin: 0;
    max-width: 100vw;
}
.modal-page .modal-dialog .modal-content{
    border: none;
}

.image-box, .video-box{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    flex: 0 0 65%;
    margin-right: 0;
}

.project-img, .project-video{
    position: relative;
    overflow: hidden;
    flex: 0 0 45%;
}
.project-img img{
    max-width: 100%;
}

.video-box{
    column-gap: 0;
    margin-right: 0!important;
}
.project-video{
    padding: 0 15px;
}

.video-box .project-video video {
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video-box .overlay-text{
    height: 30px;
    width: calc(100% - 30px);
}
.video-box:hover .overlay-text{
    opacity: 1;
}

.video-box .project-video video{
    width: 100%;
}
@media screen and (min-width: 992px){
    .image-box, .video-box{
        margin-right: 1rem;
    }
}
.image-box .project-img{
    flex-grow: 1;
    max-height: 20vh;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-box .project-img img{
    transition: transform 600ms ease-in-out;
}

.project-desc{
    padding: 2rem;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
    background-color: #f3efde;
    flex: 0 0 33%;
    margin-bottom: 1rem;
}