* {
  font-family: 'Helvetica', sans-serif;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 48px;
}

.navigation{
  margin: 0 0 100px;
}
.flex-grow-2{
  flex-grow: 2;
}
div.Home{
  background: url("./images/jukan-tateisi-bJhT_8nbUA0-unsplash.jpg");
  background-size: cover;
  height: calc(100vh - 100px);
}
.shell{
  background-color: rgba(0,0,0,0.5);
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  width: 80%;
}
span.cl{
  color: white;
}
span.green{
  color: lawngreen;
}
span.blue{
  color: mediumslateblue;
}
a.typewrite{
  color: white;
  text-decoration: none;
}
a.typewrite:hover{
  cursor: default;
  text-decoration: none;
}

.aboutme-header{
  height: 25vh;
}
img.me{
  background-color: cornsilk;
}
div.me{
  background-color: #e4ded7;
}
div.img-container{
  background-image: url("./images/IMG_63873.png");
  background-repeat: no-repeat;
  height: 1062px;
}
div.img-container2{
  background-image: url("./images/me.png");
  background-repeat: no-repeat;
  background-position-y: center;
  height: 1062px;
}
div.about{
  width: 40%;
}
div.about > p {
  font-size: 1.5em;
  text-align: justify;
}
.skills{
  height: 4em;
  flex-grow: 1;
}