html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    font-size: 100%;
}

/*16px*/
body {
    background: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
}

p {
    margin-bottom: 1rem;
}

p:first-of-type:not(.card-text):not(.contact-text) {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 2.38rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

small, .text_small {
    font-size: 0.8rem;
}

@media screen and (min-width: 576px) {
    h1 {
        margin-top: 0;
        font-size: 2.552rem;
    }

    h2 {
        font-size: 1.625rem;
    }

    h3 {
        font-size: 1.375rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    h5 {
        font-size: 1rem;
    }

    small, .text_small {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        margin-top: 0;
        font-size: 3.052rem;
    }

    h2 {
        font-size: 2.441rem;
    }

    h3 {
        font-size: 1.953rem;
    }

    h4 {
        font-size: 1.563rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    small, .text_small {
        font-size: 0.8rem;
    }
}

.btn {
    background: none;
    border: 0.175em solid whitesmoke;
    padding: 0.5em;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 0.8rem;
}

@media screen and (min-width: 1200px) {
    h1 {
        margin-top: 0;
        font-size: 3.552rem;
    }

    h2 {
        font-size: 3.441rem;
    }

    h3 {
        font-size: 1.953rem;
    }

    h4 {
        font-size: 2.063rem;
    }

    h5 {
        font-size: 1.75rem;
    }

    small, .text_small {
        font-size: 1.3rem;
    }

    .btn {
        font-size: 1rem;
    }
}

.btn:focus {
    outline: none;
}

.btn-big {
    padding: 1.4em 2.3em;
}

.btn-loading {
    border-color: #d5be51;
    color: #d5be51;
    background-image: linear-gradient(45deg, transparent 50%, #d5be51 50%);
    background-position: 25%;
    background-size: 400%;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.btn-loading:hover {
    color: whitesmoke;
    background-position: 100%;
}
.btn-back{
    color: rgba(0,0,0, 0.5);
    border: none;
    position: relative;
    left: 0;
    transition: left 500ms ease-in-out;
}
.btn-back:hover{
    left: -5px;
}
.btn-back svg{
    padding: 9px 0 0;
}
.anchor{
    position: relative;
    top: -100px;
}
.bg-beige {
    background-color: #f3efde;
}
.bg-transparent{
    background-color: transparent;
}

/*.lightbox{*/
/*    background-color: rgba(0,0,0,0.5);*/
/*}*/
/*.lightbox .modal-body img, .image-box img {*/
/*    max-width: 100%;*/
/*}*/
/*.lightbox .modal-dialog {*/
/*    max-width: 95vw;*/
/*}*/
/*@media screen and (min-width: 768px) {*/
/*  .lightbox .modal-dialog {*/
/*        max-width: 60vw;*/
/*    }*/
/*}*/

/*.lightbox .modal-header{*/
/*    padding: 0 1rem 0 0;*/
/*}*/
.ReactModal__Overlay.ReactModal__Overlay--after-open{
    z-index: 1100!important;
}
.modal-page{
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    padding: 0;
}
.modal-page .modal-dialog{
    margin: 0;
    max-width: 100vw;
}
.modal-page .modal-dialog .modal-content{
    border: none;
}

.image-box{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 65%;
    margin-right: 0;
}

.project-img{
    position: relative;
    overflow: hidden;
    flex: 0 0 45%;
}
.project-img img{
     max-width: 100%;
}
.project-video{
    position: relative;
    overflow: hidden;
    flex: 0 0 65%;
    margin-right: 0;
}
@media screen and (min-width: 992px){
    .image-box, .project-video{
    margin-right: 1rem;
    }
}
.image-box .project-img{
    flex-grow: 1;
    max-height: 20vh;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-box .project-img:nth-child(2n){
    margin-left: 1rem;
}
.image-box .project-img img{
    transition: transform 600ms ease-in-out;
}
.overlay-text:hover ~ img{
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.project-desc{
    padding: 2rem;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
    background-color: #f3efde;
    flex: 0 0 33%;
    margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
    .w-md-75 {
        width: 75% !important;
    }
}

.navigation {
    margin: 0 0 100px;
}

nav.navbar {
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.navbar-toggler {
    margin-right: 1rem;
}

@media screen and (max-width: 767.98px) {
    .navbar-collapse > div.navbar-nav {
        width: 150px;
        background-color: #f8f9fa;
        margin-left: auto;
        margin-right: 0 !important;
        border-top-left-radius: 5em;
        border-bottom-left-radius: 5em;
        filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2)) drop-shadow(0 6px 20px rgba(0, 0, 0, 0.19));
    }

    .navbar-collapse > div.navbar-nav a {
        text-align: right !important;
        padding-right: 1rem;
    }
}

.navbar-brand {
    margin-bottom: 12px;
}

.logo {
    height: 70px;
}

.flex-grow-2 {
    flex-grow: 2;
}

.Home, .AboutMe, .Projects, .Contact {
    margin: 1.5em 0;
}

.Contact {
    margin-bottom: 0;
}

.jumbotron:last-child {
    margin-bottom: 0;
}

.aboutme-header {
    height: 15vh;
}

@media screen and (min-width: 720px) {
    .Home, .AboutMe, .Projects, .Contact {
        margin: 3em 0;
    }

    .Contact {
        margin-bottom: 0;
    }

    .aboutme-header {
        height: 25vh;
    }
}

div.Home {
    background: url("./images/jukan-tateisi-bJhT_8nbUA0-unsplash.jpg");
    background-size: cover;
    background-position-x: right;
    height: calc(100vh - 100px);
    min-height: 550px;
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.shell {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    min-height: 550px;
    padding: 15px;
    /*animation-name: pop-in;
    animation-duration: 1s;*/
}

@media screen and (min-width: 272px) {
    .shell {
        min-height: 530px;
    }
}

@media screen and (min-width: 314px) {
    .shell {
        min-height: 446px;
    }
}

@media screen and (min-width: 336px) {
    .shell {
        min-height: 405px;
    }
}

@media screen and (min-width: 357px) {
    .shell {
        min-height: 363px;
    }
}

@media screen and (min-width: 402px) {
    .shell {
        min-height: 363px;
        width: 80%;
    }
}

@media screen and (min-width: 498px) {
    .shell {
        min-height: 322px;
    }
}

@media screen and (min-width: 576px) {
    .shell {
        min-height: 455px;
    }
}

@media screen and (min-width: 626px) {
    .shell {
        min-height: 402px;
    }
}

@media screen and (min-width: 749px) {
    .shell {
        min-height: 349px;
    }
}

@media screen and (min-width: 768px) {
    .shell {
        min-height: 475px;
    }
}

@media screen and (min-width: 887px) {
    .shell {
        min-height: 411px;
        width: 80%;
    }
}

@media screen and (min-width: 1034px) {
    .shell {
        min-height: 348px;
    }
}

@media screen and (min-width: 1200px) {
    .shell {
        min-height: 400px;
    }
}

.shell * {
    font-family: 'monospace', sans-serif;
    font-weight: bolder;
}

.shell h1 {
    margin: 0;
    text-align: left;
}

span.cl {
    color: white;
}

span.green {
    color: lawngreen;
}

span.blue {
    color: mediumslateblue;
}

a.typewrite {
    color: white;
    text-decoration: none;
    letter-spacing: unset !important;
}

a.typewrite:hover {
    cursor: default;
    text-decoration: none;
}

.aboutme {
    padding: 0;
}

.me-image {
    position: relative;
    overflow: hidden;
    flex: 0 0 45%;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 0;
}

.me-image img {
    max-width: 100%;
    transform: none;
    position: relative;
    top: -5vh;
}

div.about {
    padding: 2rem;
    border-radius: 5em;
    border-bottom-left-radius: 0;
    background-color: #f3efde;
    margin: -15vh auto 0;
    z-index: 1;
}

div.about > p {
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
}

div.about > p > span {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .me-image img {
        top: -10vh;
    }

    div.about {
        margin: -20vh auto 0;
    }
}

@media screen and (min-width: 992px) {
    .me-image {

        border-bottom-right-radius: 5em;
    }

    .me-image img {
        top: 0;
        transform: scale(1.1, 1.1);
    }

    div.about {
        padding: 0 0 0 2rem;
        border-radius: 1em;
        margin: 0;
    }
}

@media screen and (max-width: 991.98px) {
    .img-container2 {
        background-color: transparent;
    }
}

.skill-jumbotron {
    background-color: transparent;
    padding-top: 0;
}

.skill-container {
    padding: 0;
}

.skills {
    display: block;
    animation-fill-mode: forwards;
    height: 1.5em;
    flex-grow: 1;
    opacity: 0;
    /*animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: relative;
    left: 101vw;*/
}
.skills.animated{
    opacity: 1;
}

@media screen and (min-width: 314px) {

    .skills {
        height: 2em;
    }
}

@media screen and (min-width: 576px) {
    .skills {
        height: 3em;
    }
}

@media screen and (min-width: 720px) {
    .skills {
        height: 5em;
    }
}

.skills.left {
    animation: move-in-left 8s infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.skills.right {
    animation: move-in-right 8s 1;
    animation-timing-function: ease-out;
}

@keyframes move-in-left {
    0% {
        transform: rotate(270deg);
        left: 101vw;
    }
    25% {
        transform: rotate(220deg);
        left: 75vw;
    }
    50% {
        transform: rotate(0deg);
        left: 50vw;
    }
    55% {
        transform: rotate(0deg);
        left: 45vw;
    }
    70% {
        transform: rotate(0deg);
        left: 30vw;
    }
    90% {
        transform: rotate(0deg);
        left: 10vw;
    }
    100% {
        transform: rotate(0deg);
        left: 0;
    }
}

@keyframes move-in-right {
    0% {
        transform: rotate(0deg);
        right: 101vw;
    }
    25% {
        transform: rotate(-360deg);
        right: 101vw;
    }
    50% {
        transform: rotate(0deg);
        right: 0px;
    }
    55% {
        transform: rotate(0deg);
        right: 0px;
    }
    70% {
        transform: rotate(0deg);
        right: 0px;
    }
    90% {
        transform: rotate(20deg);
        right: 0px;
    }
    100% {
        transform: rotate(0deg);
        right: 101vw;
    }
}

/*projects start*/
.project-group {
    background-color: #f3efde;
    height: 150px;
    text-align: center;
}

.project-group h2 {
    margin-top: 0;
}

.card-group {
    margin: -180px 0 100px;
    display: none;
}

.carousel {
    margin: -81px 0 50px;
}

@media screen and (min-width: 576px) {
    .project-group {
        height: 300px;
    }

    .carousel {
        margin: -195px 0 50px;
    }
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d5be51' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d5be51' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-indicators {
    bottom: -2.5rem;
}

.carousel-indicators li {
    background-color: #d5be51;
    height: 5px;
}

@media screen and (min-width: 768px) {
    .card-group.visible-md {
        display: flex;
    }

    .carousel.hidden-md {
        display: none;
    }
}

.card {
    flex: unset !important;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

.card:hover .card-overlay.bottom {
    bottom: 0rem;
}

.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden;
    text-align: center;
    width: 100%;
    transition: bottom 0.3s;
    display: flex;
    align-items: center;
}

.card-body {
    padding: 1rem;
}

@media screen and (min-width: 448px) {
    .card-body {
        padding: 1.25rem;
    }
}

.card-overlay.bottom {
    bottom: 100%;
}

.carousel-inner {
    width: 80%;
    left: 10%;
}

.overlay-text{
    position: absolute;
    z-index: 1053;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    height: 100%;
    transition: opacity 500ms ease-in-out;
}
.overlay-text:hover{
    opacity: 1;
    cursor: pointer;
}
.overlay-text span{
    color: white;
    text-align: center;
}
@media screen and (min-width: 576px) {
    .carousel-inner {
        width: 75%;
        left: 12.5%;
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: 45%;
        margin: 0 0 1rem !important;
    }
}

@media screen and (min-width: 1140px) {
    .card {
        width: 32%;
    }
}

.btn-group-vertical {
    height: 6em;
}

.three-btns {
    height: 10em;
}

/*projects end*/

/*contact start*/
.highlight {
    display: inline-block;
    color: #d5be51;
    transition: color 250ms;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    position: relative;
    z-index: 0;
}

.highlight:after {
    position: absolute;
    z-index: -1;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 3px;
    background-color: #d5be51;
    transition: all 250ms;
}

.highlight:hover {
    color: white;
    /*text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);*/
}

.highlight:hover:after {
    height: 105%;
    width: 105%;
}

.form-row .form-group {
    width: 48%;
}

/*contact end*/

/*footer start*/
#go-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
    transition: bottom 500ms ease-in-out, opacity 500ms ease-in-out;
    opacity: 0.7;
}

#go-top a {
    color: #d5be51;
    font-weight: bold;
    background-color: #f3efde;
    border-radius: 1em;
    width: 2rem;
    display: block;
    height: 2rem;
    padding: 0 0.5rem;
}

#go-top:hover {
    bottom: 1.5rem;
    opacity: 1;
}

/*footer end*/

