* {
  font-family: 'Helvetica', sans-serif;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 48px;
}

.navigation{
  margin: 0 0 100px;
}
nav.navbar{
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.flex-grow-2{
  flex-grow: 2;
}
.Home, .AboutMe, .Projects, .Contact {
  margin: 3em 0;
}
div.Home{
  background: url("./images/jukan-tateisi-bJhT_8nbUA0-unsplash.jpg");
  background-size: cover;
  height: calc(100vh - 100px);
}

@keyframes pop-in {
0% { opacity: 0; transform: scale(0.5); }
100% { opacity: 1; transform: scale(1); }
}

.shell{
  background-color: rgba(0,0,0,0.5);
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  width: 80%;
  min-height: 420px;
  /*animation-name: pop-in;
  animation-duration: 1s;*/
}
span.cl{
  color: white;
}
span.green{
  color: lawngreen;
}
span.blue{
  color: mediumslateblue;
}
a.typewrite{
  color: white;
  text-decoration: none;
}
a.typewrite:hover{
  cursor: default;
  text-decoration: none;
}

.aboutme-header{
  height: 25vh;
}
img.me{
  background-color: cornsilk;
}
div.me{
  background-color: #e4ded7;
}
div.img-container{
  background-image: url("./images/IMG_63873.png");
  background-repeat: no-repeat;
  height: 1062px;
}
div.img-container2{
  background-image: url("./images/me.png");
  background-repeat: no-repeat;
  background-position-y: center;
  height: 1062px;
}
div.about{
  width: 40%;
}
div.about > p {
  font-size: 1.5em;
  text-align: justify;
}
div.about > p > span{
  font-weight: bold;
}
.skills{
  height: 5em;
  flex-grow: 1;
}

/*projects start*/
.item:hover .item-overlay.bottom {
  bottom: 0;
}
.item-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  background: rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
  width: 100%;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.item-overlay.bottom {
  bottom: 100%;
}
/*projects end*/